<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Gestion de produits</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li><li class="nav-item">
        <a class="nav-link" routerLink="/produit" routerLinkActive="active">Produits</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/utilisateur" routerLinkActive="active">Uilisateurs</a>
      </li>
    </ul>
  </div>
  <div class="">
    <button type="button" name="button" class="btn btn-secondary" (click)="seDeconnecter()">Se déconnecter</button>
  </div>
</nav>
