<div class="container">
  <h1>S'identifier</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" formControlName="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="username">Mot de passe</label>
      <input type="password" formControlName="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100 mt-3">Se connecter</button>
    <div class="alert alert-danger mt-3" *ngIf="responseMsg !==''" role="alert">
      {{responseMsg}}
    </div>
    <p class="mt-3">Si vous n'avez pas un compte cliquez <a routerLink="/register">ici</a> pour s'inscrire</p>
  </form>
</div>
