<nav class="nav nav-pills flex-column red">
    <a routerLink="/dashboard"  class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-home"></i> Dashboard
    </a>
    <a routerLink="/produit" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-user"></i> Produit
    </a>
    <a href="#" class="nav-item nav-link">
        <i class="fa fa-envelope"></i> Messages
    </a>
    <a href="#" class="nav-item nav-link disabled" tabindex="-1">
        <i class="fa fa-line-chart"></i> Reports
    </a>
</nav>
